.containerNames{
    justify-content: center;
    align-items: center;
}
.genderOption{
    cursor: pointer;
}
.containerMark{
    display: flex;
    justify-content:center;
    align-items: center;
    cursor: pointer;
}