.containerSplitButton{
    margin-top: .5rem;
    display:flex;
    justify-content: center;
    align-items: center;
}
.containerAddProduct{
    display: flex;
    justify-content: end;
    margin-top: .5rem;
}
.containerLineChart{
    margin-left: 3rem;
    margin-right: 3rem;
}